<!-- Alessandro -->
<div id="profile-div" style ="text-align: center; width: fit-content; margin: auto">
	<h1> <%= @user.name %> </h1>
	<div id="user-info-div" style="text-align: left">
		<p> <b>Email:</b> <%= @user.email %> </p>
		<p> <b>Tel:</b> <%= @user.tel %> </p>
		<p> <b>Birthday:</b> <%= @user.bday %> </p>
		<p> <b>Role:</b> <%= @user.role %> </p>
		<p> <b>Banned:</b> <%= @user.banned %> </p>
	</div>
</div>

<% if user_signed_in? %>
	<div id="profile-buttons-div" class="d-flex flex-row" style ="text-align: center; width: fit-content; margin: auto">
		<% if @user.role == "moderator" || @user.role == "admin" %>
			<button type="button" class="btn btn-dark" style="margin: 1px">Ban user</button>
			<button type="button" class="btn btn-dark" style="margin: 1px">Promote to moderator</button>
		<% end %>
		<button type="button" class="btn btn-dark" style="margin: 1px"><%= link_to "Edit account info", edit_user_registration_path %></button>
	</div>
<% end %>
<br>

<div id="bottom-div" class="d-flex flex-row" style="outline: solid; width: 80%; height: 100%; margin: auto; text-align: center">
	<% if @user.banned %>
		<p>This user is banned from posting reviews</p>
	<% else %>
		<div id="reviews-div" style="outline: solid; width: 100%; height: 100%; margin: 1%">
			Reviews here ...<br>
			1<br>
			2<br>
			3<br>
			4<br>
			5
		</div>
	<% end %>
	<div id="favorites-div" style="outline: solid; width: 100%; height: 100%; margin: 1%">
		Favorite places here ...<br>
		1<br>
		2<br>
		3<br>
		4<br>
		5
	</div>
</div>