<!-- Alessandro -->
<h1> <%= current_user.name %> </h1>
<p> Email: <%= current_user.email %> </p>
<p> Tel: <%= current_user.tel %> </p>
<p> Birthday: <%= current_user.bday %> </p>
<p> Role: <%= current_user.role %> </p>
<p> Banned: <%= current_user.banned %> </p>