<!-- Alessandro -->

<%= stylesheet_link_tag "home.css" %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">




<div class="container p-3 ">
	<h4>New search</h4>
</div>

<!--<div class="autocomplete-container" id="autocomplete-container"></div>-->

<!--form ricerca -->
<%= form_with scope: "search", url: search_results_path, method: :post do |form| %>
	<div class="container shadow-sm pt-3 pr-3 pl-3">
		<div class="row g-3 search  d-flex justify-content-center ">  
			<div class="col-3" id="container">
				<%= form.text_field :origin, placeholder: "Starting place", :required => true, autofocus: true, class: "form-control", id: "origin", list: 'cities' %>
				<datalist id="cities">
    			<% @cities_select.each do |city| %>
      				<option value="<%= city[1] %>"><%= city[0] %></option>
   	 			<% end %>
				</datalist>
			
			</div>
			<!--<%= form.select :origin, [["Roma", "AGP"], ["Malaga", "AGP"], ["Milano", "LIN"]],  presence: true%> -->
			<div class="col-2">
				<%= form.date_field :departure, :value => Time.now.strftime('%Y-%m-%d'), :required => true, class: "form-control", id: "departure"%>
			</div>	
			<div class="col-2">
				<%= form.date_field :return, :value => Time.now.strftime('%Y-%m-%d'), :required => true, class: "form-control", id: "return"%>
			</div>
			<div class="col-2">
				<%= form.text_field :budget, placeholder: "Budget", :required => true, class: "form-control", id: "budget"%>
			</div>
			<div class="col-2">
				<%= form.number_field :people, in: 1.0..10.0, step: 1.0, placeholder: "People", :required => true, class: "form-control" , id: "people" %>
			</div>
			<div class="col-1">
				<%= form.submit :search, class:"btn btn-dark", value: "Search", id: "cerca", disabled: true %>	
			</div>
		</div>
		<div class="row justify-content-left">
			<div class="check col-3" >
				<p id ="trovato" class="trovato">Insert city to continue</p>
			</div>

			<div class="col-2" id="andata">
				<p>Departure</p>
			</div>

			<div class="col-2" id="ritorno">
				<p>Return</p>
			</div>
	
			<div class="col-4" id="data" hidden="true">
				<p class="data">Return must be after departure</p>
			</div>
			
		</div>
	</div>
	
<% end %> 
<br>

<div class="container p-2">
<h4>Hot destinations</h4>
	<div class="row g-3 search  d-flex justify-content-center "> 

		<%@destinations.each do |dest|%>
	       <div class="col">
			<div class="card bg-light text-white h-100 shadow-sm" style="width: 100%rem;">
				<img class="card-img photo" src="<%= @photo_home[dest.iata]%>" alt="Card image">
				<div class="card-img-overlay photo">
					<h5 class="card-title city_name"><%= dest.name %></h5>
					 <a href="/<%=dest.name%>/viewmorereviews" class="stretched-link"></a>
				</div>
				</div>
			</div>

		<%end%>

	</div>
</div>

<% if user_signed_in? %>
	<%if current_user.role == "moderator" || current_user.role=="admin"%>
		<div class="container d-flex justify-content-end mt-2 p-2">
			<button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#destModal">
				Edit destinations
			</button> 
	<%end%>
<%end%>
		</div>

<!-- Modal cambio destinazioni -->
<div class="modal fade" id="destModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-target="ricercaModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <%= form_with url: update_dest_path, method: :post do |form| %>  
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Edit destinations</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div id="modifica">
            
				<% @destinations.each do |dest| %>
					<div>
						<p style="margin-bottom:0px; margin-top:5px"> Selected: <%= dest.name %> </p>
						<!--<%= form.select :"city#{dest.id}", @cities_select, :selected => dest.iata, class: "form-control" %>-->
						<%= form.text_field :"city#{dest.id}", placeholder: dest.name, autofocus: true, class: "form-control", id: "city#{dest.id}", list: 'cities_dest' %>
						<datalist id="cities_dest" value="<%dest.name%>" >
    						<% @cities_dest.each do |city| %>
      							<option value="<%= city %>"><%= city %></option>
   	 						<% end %>
						</datalist>
						
						<br>
					</div>
				<% end %>
				<!--<%= form.select :city, @cities_select, class: "form-control" %>-->
            
      </div>
      </div>
      <div class="modal-footer">
	  	<div style="text-align: center; margin: auto">
        <%= form.submit :search, class:"btn btn-dark", value: "Save" %>	
		</div>
      </div>
      <%end%>
    </div>
  </div>
</div>

<script>

	var origin_input = document.getElementById("origin");
	var cerca_btn = document.getElementById("cerca");
	origin_input.addEventListener("focusout", control_city);
	var trovato = document.getElementById("trovato");
	var non_trovato = document.getElementById("non_trovato");
	var city_valid = false;
	var departure = document.getElementById("departure");
	var ret = document.getElementById("return");
	var people = document.getElementById("people");
	var budget = document.getElementById("budget");
	ret.addEventListener("focusout", enable);
	departure.addEventListener("focusout", enable);
	budget.addEventListener("focusout", enable);
	people.addEventListener("focusout", enable);
	var data_p = document.getElementById("data");
	var date_valid = false;
	var andata = document.getElementById("andata");
	var ritorno = document.getElementById("ritorno");
	var aereoporto_scelto = null;


	function control_city() {

		if (aereoporto_scelto==null || aereoporto_scelto!=origin_input.value) {
				if (origin_input.value!="") {
					city_valid=false;
					var cities = [<%= raw @cities_select.to_json %>];
					
					cities[0].forEach(item => {
						if (origin_input.value == item[1].toUpperCase()) {
							//non_trovato.hidden = true;
							trovato.hidden = false;
							trovato.innerHTML = "Airport found";
							aereoporto_scelto = item[1];
							trovato.style.color = "green";
							city_valid = true;
							}
						
					});
					if (city_valid==false) {
						//non_trovato.hidden = false;
						trovato.innerHTML = "Airport not found, try again";
						trovato.style.color = "red";
					}
				
				enable();
			}
		}
	}

	function control_date() {
	
		if (departure.value>ret.value) {
			data_p.hidden=false;
			date_valid = false;
			andata.hidden = true;
			ritorno.hidden=true;
		} else {
			data_p.hidden=true;
			date_valid = true;
			andata.hidden = false;
			ritorno.hidden=false
		}
	
	}

	function enable() {
		control_date();

	if (city_valid & date_valid & !people.value=="" & !budget.value=="") {
		cerca_btn.disabled = false;
	}
	}

	
</script>


