<!-- Alessandro -->
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<%= stylesheet_link_tag "home.css" %>

<h1>Home#index</h1>


<% if user_signed_in? %>
	<p> Signed in as <%= current_user.email %> <p>
	<%= link_to "Profile", users_profile_path(:id => current_user.id) %>
	<%= link_to "Edit Account", edit_user_registration_path %>
<% else %>
	<p> Currently not signed in <p>
<% end %>

<!--<div class="autocomplete-container" id="autocomplete-container"></div>-->

<!--form ricerca -->
<%= form_with scope: "search", url: "/results", method: :get do |form| %>  
	
  <%= form.text_field :origin %>
	<%= form.date_field :departure %>
	<%= form.number_field :people, in: 1.0..10.0, step: 1.0 %>
	<%= form.submit :search %>	
<% end %>  






