<!-- Alessandro -->

<%= stylesheet_link_tag "home.css" %>

<h1>Home#index</h1>

<% if user_signed_in? %>
	<p> Signed in as <%= current_user.email %> <p>
	<%= link_to "Profile", users_profile_path(:id => current_user.id) %>
	<%= link_to "Edit Account", edit_user_registration_path %>
<% else %>
	<p> Currently not signed in <p>
<% end %>

<!--<div class="autocomplete-container" id="autocomplete-container"></div>-->

<!--form ricerca -->
<div class="row">
	<div class="col">
		<%= form_with scope: "search", url: search_results_path, method: :post do |form| %>  

			<%= form.text_field :origin, placeholder: "Inserisci luogo di partenza" %>
			<!--<%= form.select :origin, [["Roma", "AGP"], ["Malaga", "AGP"], ["Milano", "LIN"]],  presence: true%> -->
			
			<%= form.date_field :departure, :value => Time.now.strftime('%Y-%m-%d') %>
			<%= form.text_field :budget, placeholder: "Inserisci budget" %>
			<%= form.number_field :people, in: 1.0..10.0, step: 1.0, placeholder: "Persone" %>
			<%= form.submit :search  %>	
		<% end %>  
	</div>
</div>

