
<%= stylesheet_link_tag "results.css" %>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"/>


<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


<%
=begin
%>
  
<% if @flights%>
  <% @cheap.each do |c|%>
    <% @dest = c[0]%>
    <% @n = c[1]%>
    <% @volo= @flights[@dest][@n]%>
    <%= @dest%>

    <%= @volo["price"]%> 
    <%= @volo["airline"]%>
    <%= @volo["flight_number"]%>
    <%= @volo["departure_at"]%>
    <%= @volo["return_at"]%>
    <%= @volo["expires_at"]%>
  
    <br>
  <%end%>
<%end%>

<%
=end
%> 
<!--mappa -->
  <body data-new-gr-c-s-check-loaded="14.991.0" data-gr-ext-installed="">
    <div id="my-map"></div>
    <%if @locations%>
    <script type="text/javascript">
    
      var map = L.map("my-map").setView(<%= @geo_iniziale%>, 9);

      // Get your own API Key on https://myprojects.geoapify.com
      var myAPIKey = "a612f4f8e5d644869554d6f04a4e4a27";

      // Retina displays require different mat tiles quality
      var isRetina = L.Browser.retina;

      var baseUrl =
        "https://maps.geoapify.com/v1/tile/klokantech-basic/{z}/{x}/{y}.png?apiKey={apiKey}";
      var retinaUrl =
        "https://maps.geoapify.com/v1/tile/klokantech-basic/{z}/{x}/{y}@2x.png?apiKey={apiKey}";

      // Add map tiles layer. Set 20 as the maximal zoom and provide map data attribution.
      L.tileLayer(isRetina ? retinaUrl : baseUrl, {
        attribution:
          'Powered by <a href="https://www.geoapify.com/" target="_blank">Geoapify</a> | © OpenStreetMap <a href="https://www.openstreetmap.org/copyright" target="_blank">contributors</a>',
        apiKey: myAPIKey,
        maxZoom: 3,
        id: "klokantech-basic",
      }).addTo(map);

    const markerIcon = L.icon({
    iconUrl: `https://api.geoapify.com/v1/icon/?type=material&color=%23000000&icon=location_city&apiKey=${myAPIKey}`,
    iconSize: [31, 46], // size of the icon
    iconAnchor: [15.5, 42], // point of the icon which will correspond to marker's location
    popupAnchor: [0, -45] // point from which the popup should open relative to the iconAnchor
        });

    
      <% @k = @locations.keys%>
      <% @k.each do |dest|%> 
      
        L.marker(<%= @locations[dest]["geocode"]%> , {
          icon: markerIcon
          }).bindPopup(L.popup().setContent("<%= @locations[dest]["name"]%>, <%= @locations[dest]["countryCode"]%>")).addTo(map);
        
      <%end%>
    <%end%>
    
    </script> 

<!--risultati ricerca -->
<div class="pt-2 pb-2 container-fluid">
  <div class="row d-flex">
    <div class="col ">
      <h5>Destinazioni economiche trovate</h5>
    </div>  
    <div class="col d-flex justify-content-end pt-1">
      <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#ricercaModal">
          Modifica ricerca
      </button> 
    </div>  
  </div>  
</div>

<div id="results_div" class="container-fluid">
  <div class="row">
      <%if @cheap%>
        <%if @locations%>
          <% @cheap.each do |dest|%> 
            <% @code = dest[0]%>
            <%if @locations[@code]%>
              <% @numero_dest=+1%>
              <div class="col">
                <div class="card h-100 shadow-sm" style="width: 100%rem;">
                  <img src="<%= @locations[@code]["photo"]%>" class="card-img-top photo" alt="...">
                  <div class="card-body">
                      <h6 class="col card-title">
                        <%= @locations[@code]["name"]%>(<%= @locations[@code]["countryCode"]%>)
                      </h6>
                    <div class="row">
                      <div class="col"><p class="card-text">
                        <!--Aereoporto: <%= @locations[@code]["iata"]%><br> -->
                        Voli a partire da: <%= dest[2]%><br>
                      </p></div>
                      <a href="/<%=params['search']['origin']%>/<%=params['search']['departure']%>/<%=params['search']['return']%>/<%=params['search']['people']%>/<%=@locations[@code]["countryCode"]%>/<%=@locations[@code]["iata"]%>/<%=@locations[@code]["name"]%>" class="stretched-link"></a>
                      
                    </div>

                  </div>
                </div>
              </div>
            <%end%>
          <%end%>
          <%if @count<4 %>
          <%(0...(4-@count)).each do |k|%>
            <div class="col">
              <div class="card h-100 shadow-sm" style="width: 100%rem;" aria-hidden="true">
                <img src="https://img.freepik.com/free-vector/silhouette-skyline-illustration_53876-78786.jpg" class="card-img-top photo" alt="...">
                <div class="card-body">
                  <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                  </h5>
                  <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                  </p>
                  
                </div>
              </div>
            </div>
          <%end%>
        <%end%>
      
        <%end%>
      <%end%>
    </div>
  </div>
</div>




<%if @cheapest.count()==0%>
 
   
  
<%end%>

<!-- Modal cambio ricerca -->
<div class="modal fade" id="ricercaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-target="ricercaModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <%= form_with scope: "search", url: "/results", method: :post do |form| %>  
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Modifica parametri di ricerca</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div id="ricerca">
            
             <%= form.text_field :origin, value: params["search"]["origin"] %><br>
              <%= form.date_field :departure, value: params["search"]["departure"] %><br>
              <%= form.text_field :budget, value: params["search"]["budget"] %><br>
              <%= form.number_field :people, in: 1.0..10.0, step: 1.0, value: params["search"]["people"] %><br>
               
      </div>
      </div>
      <div class="modal-footer">
        <%= form.submit :search, class:"btn btn-primary", value: "Cerca" %>	
      </div>
      <%end%>
    </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


    




  

            
            


