<h1 style="text-align:center">Hotels in <%=params[:destinationplace].downcase.capitalize()%></h1>
<%if @hotels%>
        <div style="padding: 0px 50px 0px 50px">
            <ul style="display: flex; list-style-type:none">
                <%length=@hotels.length%>
                <%(0...length).each do |i|%>
                    <%if @hotels[i]%>
                        <li style="width: 50%; padding: 0px 10px 0px 10px">
                            <div style="display:flex; border-style: solid; border-radius: 10px">
                                <img style="width: 39%; height:100%; border-radius: 7px"src="<%=@hotels[i]["max_1440_photo_url"]%>">
                                <div style="width: 70%; padding: 10px 10px 10px 10px">
                                    <h3><a style="text-decoration:none; color: black" href="<%=@hotels[i]["url"]%>"><%=@hotels[i]["hotel_name"]%></a></h3>
                                    <p>Prezzo: <%=@hotels[i]["price_breakdown"]["all_inclusive_price"]%>€</p>
                                    <%if @hotels[i]["is_free_cancellable"]==1%>
                                        <p>Cancellazione gratuita</p>
                                    <%end%>
                                    <p>Review Score: <%=@hotels[i]["review_score"]%></p>
                                    <p>
                                        <%if @hotels[i]["hotel_include_breakfast"]==0%>
                                            Colazione inclusa: NO
                                        <%else%>
                                            Colazione inclusa: SI
                                        <%end%>
                                    </p>
                                    <p>Check-in 
                                        <%if @hotels[i]["checkin"]["from"]!=""%>
                                            dalle <%=@hotels[i]["checkin"]["from"]%> 
                                        <%end%>
                                        <%if @hotels[i]["checkin"]["until"]!=""%>
                                            <%if @hotels[i]["checkin"]["from"]!=""%>
                                                alle <%=@hotels[i]["checkin"]["until"]%>
                                            <%else%>
                                                fino alle <%=@hotels[i]["checkin"]["until"]%>
                                            <%end%>
                                        <%end%>
                                    </p>
                                    <p>Check-out
                                        <%if @hotels[i]["checkout"]["from"]!=""%>
                                            dalle <%=@hotels[i]["checkout"]["from"]%> 
                                        <%end%>
                                        <%if @hotels[i]["checkout"]["until"]!=""%>
                                            <%if @hotels[i]["checkout"]["from"]!=""%>
                                                alle <%=@hotels[i]["checkout"]["until"]%>
                                            <%else%>
                                                fino alle <%=@hotels[i]["checkout"]["until"]%>
                                            <%end%>
                                        <%end%>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <br>
                    <%end%>
                <%end%>
            </ul>
        </div>
    <%end%>