<%@destinationplace=params[:destinationplace].downcase.capitalize()%>
<%if @destinationplace.include? "%20"%>
    <%arr=@destinationplace.split("%20")%>
    <%@destinationplace=""%>
    <%arr.each do |name|%>
        <%@destinationplace=@destinationplace+name.capitalize()+" "%>
    <%end%>
<%end%>
<%if @destinationplace.match? /0|1|2|3|4|5|6|7|8|9/%>
    <h4 style="color:red; text-align: center">Error: La città inserita non è valida</h4>
<%else%>
    <h1 style="text-align:center">Reviews for <%=@destinationplace%></h1>
    <%@reviews=Review.where("place=?", @destinationplace).to_ary%>
    <%if @reviews%>
        <ul style="list-style-type:none">
            <%length=@reviews.length%>
            <%len=0%>
            <%if length%2==0%>
                <%len=length/2%>
            <%else%>
                <%len=(length-1)/2%>
            <%end%>
            <%(0...len).each do |i|%>
                <div style="display: flex; padding: 0px 50px 0px 50px">
                    <%if @reviews[2*i]%>
                        <li style="width: 50%; padding: 0px 10px 0px 10px">
                            <div style="height:100%; display:flex; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 5px; padding: 1%; font-size: 18px; margin: 1%">
                                <%=render "reviews/review", review: @reviews[2*i]%>
                            </div>
                        </li>
                    <%end%>
                    <%if @reviews[(2*i)+1]%>
                        <li style="width: 50%; padding: 0px 10px 0px 10px">
                            <div style="height:100%; display:flex; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 5px; padding: 1%; font-size: 18px; margin: 1%">
                                <%=render "reviews/review", review: @reviews[(2*i)+1]%>
                            </div>
                        </li>
                    <%end%>
                </div>
                <br>
            <%end%>
            <%if length%2==1%>
                <%if @reviews[length-1]%>
                    <div style="display: flex; padding: 0px 50px 0px 50px">
                        <%if @reviews[length-1]%>
                        <li style="width: 50%; padding: 0px 10px 0px 10px">
                            <div style="height:100%; display:flex; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 5px; padding: 1%; font-size: 18px; margin: 1%">
                                <%=render "reviews/review", review: @reviews[length-1]%>
                            </div>
                        </li>
                    <%end%>
                    </div>
                <%end%>
            <%end%>
        </ul>
    <%else%>
        <div style="text-align:center"><p>Siamo spiacenti, non sono state trovate recensioni per <%=@destinationplace%></p></div>
    <%end%>
<%end%>