<%if @message%>
    <p><%=@message%></p>
<%else%>
    <h1><%=params[:destinationplace].downcase.capitalize()%></h1>
    <%if @errorinfo%>
        <p><%=@errorinfo%></p>
    <%else%>
        <%if @type%><p><b>Tipo: </b><%=@type%><p><%end%>
        <%if @country%><p><b>Nazione: </b><%=@country%><p><%end%>
        <%if @region%><p><b>Regione: </b><%=@region%><p><%end%>
        <%if @elevationmeters%><p><b>Altitudine: </b><%=@elevationmeters%> m<p><%end%>
        <%if @population%><p><b>Popolazione: </b><%=@population%> abitanti<p><%end%>
        <%if @longitude%><p><b>Longitudine: </b><%=@longitude%><p><%end%>
        <%if @latitude%><p><b>Latitudine: </b><%=@latitude%><p><%end%>
        <%if @capital%><p><b>Capitale: </b><%=@capital%><p><%end%>
        <%if @numregions%><p><b>Numero di regioni: </b><%=@numregions%><p><%end%>
    <%end%>

    <%if @hotels%>
        <ul>
            <%(0...2).each do |i|%>
                <%if @hotels[i]%>
                    <li>
                        <img src="<%=@hotels[i]["main_photo_url"]%>">
                        <a href="<%=@hotels[i]["url"]%>"><%=@hotels[i]["hotel_name"]%></a>
                        <p>Prezzo: <%=@hotels[i]["price_breakdown"]["all_inclusive_price"]%>€</p>
                        <%if @hotels[i]["is_free_cancellable"]==1%>
                            <p>Cancellazione gratuita</p>
                        <%end%>
                        <p>Review Score: <%=@hotels[i]["review_score"]%></p>
                        <p>
                            <%if @hotels[i]["hotel_include_breakfast"]==0%>
                                Colazione inclusa: NO
                            <%else%>
                                Colazione inclusa: SI
                            <%end%>
                        </p>
                        <p>Check-in 
                            <%if @hotels[i]["checkin"]["from"]!=""%>
                                dalle <%=@hotels[i]["checkin"]["from"]%> 
                            <%end%>
                            <%if @hotels[i]["checkin"]["until"]!=""%>
                                <%if @hotels[i]["checkin"]["from"]!=""%>
                                    alle <%=@hotels[i]["checkin"]["until"]%>
                                <%else%>
                                    fino alle <%=@hotels[i]["checkin"]["until"]%>
                                <%end%>
                            <%end%>
                        </p>
                        <p>Check-out
                            <%if @hotels[i]["checkout"]["from"]!=""%>
                                dalle <%=@hotels[i]["checkout"]["from"]%> 
                            <%end%>
                            <%if @hotels[i]["checkout"]["until"]!=""%>
                                <%if @hotels[i]["checkout"]["from"]!=""%>
                                    alle <%=@hotels[i]["checkout"]["until"]%>
                                <%else%>
                                    fino alle <%=@hotels[i]["checkout"]["until"]%>
                                <%end%>
                            <%end%>
                        </p>
                    </li>
                <%end%>
            <%end%>
        </ul>
    <%end%>
    <%if @voliarr%>
        <ul>
            <%(0...2).each do |k|%>
                <li>
                    <p>Orario partenza volo di andata: <%=@arroraripartenzaandata[k]%></p>
                    <p>Orario arrivo volo di andata: <%=@arrorariarrivoandata[k]%></p>
                    <p>Orario partenza volo di ritorno: <%=@arroraripartenzaritorno[k]%></p>
                    <p>Orario arrivo volo di ritorno: <%=@arrorariarrivoritorno[k]%></p>
                    <p>Prezzo a persona: <%=@voliarr[k]["price"]["grandTotal"]%></p>
                    <p>Scali andata: <%=@arrnumeroscaliandata[k]%></p>
                    <p>Scali ritorno: <%=@arrnumeroscaliritorno[k]%></p>
                    <p>Posti prenotabili: <%=@voliarr[k]["numberOfBookableSeats"]%></p>
                </li>
            <%end%>
        </ul>
    <%end%>
<%end%>
