<%= stylesheet_link_tag "place.css" %>

<%if @message%>
    <h4 style="color:red; text-align: center">Error: <%=@message%></h4>
<%else%>
    <h1 style="text-align: center"><%=@destinationplace%></h1><br>
    <div style="display: flex; padding: 0px 50px 0px 50px">
        <%if @messaggeimage%>
            <%=@messageimage%>
        <%else%>
            <img style="max-height:350px" src="<%=@imageurl%>">
        <%end%>
        <div style="padding: 20px 20px 20px 20px">
            <%if @messageinfo%>
                <p><%=@messageinfo%></p>
            <%else%>
                <%if @type%><p><b>Tipo: </b><%=@type%><p><%end%>
                <%if @country%><p><b>Nazione: </b><%=@country%><p><%end%>
                <%if @region%><p><b>Regione: </b><%=@region%><p><%end%>
                <%if @elevationmeters%><p><b>Altitudine: </b><%=@elevationmeters%> m<p><%end%>
                <%if @population%><p><b>Popolazione: </b><%=@population%> abitanti<p><%end%>
                <%if @longitude%><p><b>Longitudine: </b><%=@longitude%><p><%end%>
                <%if @latitude%><p><b>Latitudine: </b><%=@latitude%><p><%end%>
                <%if @capital%><p><b>Capitale: </b><%=@capital%><p><%end%>
                <%if @numregions%><p><b>Numero di regioni: </b><%=@numregions%><p><%end%>
                <%if user_signed_in?%>
                    <%user=User.find(current_user.id)%>
                    <%if !user.favourites.include? @destinationplace%>
                        <%= link_to "Add to favourite", place_add_to_favourites_path(:place => @destinationplace, flash_notice:"Ok"), {:class=>"link_to"}%>
                    <!--current_user.add_favourite(@destinationplace)-->
                    <%else%>
                        <%= link_to "Remove from favourite", place_remove_from_favourites_path(:place => @destinationplace, flash_notice:"Ok"), {:class=>"link_to"}%>
                    <%end%>
                <%end%>
            <%end%>
        </div>
    </div>
    <div style="padding: 50px 0px 0px 0px">
        <h3 style="text-align:center">Hotels</h3>
        <%if @hotels%>
            <ul style="list-style-type:none">
                <div style="display: flex; padding: 0px 50px 0px 50px">
                    <%(0...2).each do |i|%>
                        <%if @hotels[i]%>
                            <li style="width: 49%; padding: 0px 10px 0px 10px">
                                <a style="text-decoration:none; color: black" href="<%=@hotels[i]["url"]%>">
                                    <div style="height:100%; display:flex; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 5px; padding: 1%; font-size: 18px; margin: 1%">
                                        <img style="width: 39%; height:auto; border-radius: 7px"src="<%=@hotels[i]["max_1440_photo_url"]%>">
                                        <div style="width: 70%; padding: 10px 10px 10px 10px">
                                            <h3><%=@hotels[i]["hotel_name"]%></h3>
                                            <p>Prezzo: <%=@hotels[i]["price_breakdown"]["all_inclusive_price"]%>€</p>
                                            <%if @hotels[i]["is_free_cancellable"]==1%>
                                                <p>Cancellazione gratuita: SI</p>
                                            <%else%>
                                                <p>Cancellazione gratuita: NO</p>
                                            <%end%>
                                            <p>Review Score: <%=@hotels[i]["review_score"]%></p>
                                            <p>
                                                <%if @hotels[i]["hotel_include_breakfast"]==0%>
                                                    Colazione inclusa: NO
                                                <%else%>
                                                    Colazione inclusa: SI
                                                <%end%>
                                            </p>
                                            <p>Check-in 
                                                <%if @hotels[i]["checkin"]["from"]!=""%>
                                                    dalle <%=@hotels[0]["checkin"]["from"]%> 
                                                <%end%>
                                                <%if @hotels[i]["checkin"]["until"]!=""%>
                                                    <%if @hotels[0]["checkin"]["from"]!=""%>
                                                        alle <%=@hotels[i]["checkin"]["until"]%>
                                                    <%else%>
                                                        fino alle <%=@hotels[i]["checkin"]["until"]%>
                                                    <%end%>
                                                <%end%>
                                            </p>
                                            <p>Check-out
                                                <%if @hotels[i]["checkout"]["from"]!=""%>
                                                    dalle <%=@hotels[i]["checkout"]["from"]%> 
                                                <%end%>
                                                <%if @hotels[i]["checkout"]["until"]!=""%>
                                                    <%if @hotels[i]["checkout"]["from"]!=""%>
                                                        alle <%=@hotels[i]["checkout"]["until"]%>
                                                    <%else%>
                                                        fino alle <%=@hotels[i]["checkout"]["until"]%>
                                                    <%end%>
                                                <%end%>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        <%end%>
                    <%end%>
                </div>
            </ul>
            <%if @hotels[1]%>
                <div style="text-align:center; padding: 25px 0px 0px 0px"><%=link_to "View more hotels", {controller: "place", action: "gethotels"}, {:class=>"link_to"}%></div>
            <%end%>
        <%elsif @messagehotels%>
            <div style="text-align:center"><p><%=@messagehotels%></p></div>
        <%else%>
            <div style="text-align:center"><p>Siamo spiacenti, non sono stati trovati hotel disponibili</p></div>
        <%end%>
    </div>

    <div style="padding: 50px 0px 0px 0px">
        <h3 style="text-align:center">Flights</h3>
        <%if @voliarr%>
            <div style="padding: 0px 50px 0px 50px">
                <ul style="display: flex; list-style-type:none">
                    <%(0...2).each do |k|%>
                        <li style="width: 49%; padding: 0px 10px 0px 10px">
                            <div style="height:100%; display:flex; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 5px; padding: 1%; font-size: 18px; margin: 1%">
                                <%@arr=@arrvoliandata[k]["segments"]%>
                                <img style="width: 39%; height:auto; border-radius: 7px" src="http://pics.avs.io/200/200/<%=@arr[0]["carrierCode"]%>.png">
                                <div style="width: 70%; padding: 10px 10px 10px 10px">
                                    <ul style="list-style-type:none">
                                        <li>
                                            <h5>
                                                Andata (n°scali: <%=@arrnumeroscaliandata[k]%>):
                                                <%if @arrnumeroscaliandata[k]==0%>
                                                    <%=@arr[0]["departure"]["iataCode"]%> - <%=@arr[0]["arrival"]["iataCode"]%>
                                                <%else%>
                                                    <%(0..@arrnumeroscaliandata[k]).each do |i|%>
                                                        <%if i==@arrnumeroscaliandata[k]%>
                                                            - <%=@arr[i]["departure"]["iataCode"]%> - <%=@arr[i]["arrival"]["iataCode"]%>
                                                        <%else-if i!=0%>
                                                            - <%=@arr[i]["departure"]["iataCode"]%>
                                                        <%else%>
                                                            <%=@arr[i]["departure"]["iataCode"]%>
                                                        <%end%>
                                                        <%end%>
                                                    <%end%>
                                                <%end%>
                                            </h5>
                                            <p>
                                                <%if @arrnumeroscaliandata[k]==0%>
                                                    <b><%=@arr[0]["departure"]["iataCode"]%></b> - Partenza: <%elem=@arr[0]["departure"]["at"].split("T")%><%=elem[1]%> 
                                                            <%@dativoli["dictionaries"]["carriers"].keys.each do |compagniacode|%>
                                                                <%if @arr[0]["carrierCode"]==compagniacode%>
                                                                    (<%=@dativoli["dictionaries"]["carriers"]["#{compagniacode}"]%>)
                                                                <%end%>
                                                            <%end%><br>
                                                    <b><%=@arr[0]["arrival"]["iataCode"]%></b> - Arrivo: <%elem=@arr[0]["arrival"]["at"].split("T")%><%=elem[1]%>
                                                <%else%>
                                                    <%(0..@arrnumeroscaliandata[k]).each do |i|%>
                                                        <b><%=@arr[i]["departure"]["iataCode"]%></b> - Partenza: <%elem=@arr[i]["departure"]["at"].split("T")%><%=elem[1]%>
                                                            <%@dativoli["dictionaries"]["carriers"].keys.each do |compagniacode|%>
                                                                <%if @arr[i]["carrierCode"]==compagniacode%>
                                                                    (<%=@dativoli["dictionaries"]["carriers"]["#{compagniacode}"]%>)
                                                                <%end%>
                                                            <%end%><br>
                                                        <b><%=@arr[i]["arrival"]["iataCode"]%></b> - Arrivo: <%elem=@arr[i]["arrival"]["at"].split("T")%><%=elem[1]%><br>
                                                    <%end%>
                                                <%end%>
                                            </p>
                                        </li>
                                        <li>
                                            <%@arr=@arrvoliritorno[k]["segments"]%>
                                            <h5>
                                                Ritorno (n°scali: <%=@arrnumeroscaliritorno[k]%>):
                                                <%if @arrnumeroscaliritorno[k]==0%>
                                                    <%=@arr[0]["departure"]["iataCode"]%> - <%=@arr[0]["arrival"]["iataCode"]%>
                                                <%else%>
                                                    <%(0..@arrnumeroscaliritorno[k]).each do |i|%>
                                                        <%if i==@arrnumeroscaliritorno[k]%>
                                                            - <%=@arr[i]["departure"]["iataCode"]%> - <%=@arr[i]["arrival"]["iataCode"]%>
                                                        <%else-if i!=0%>
                                                            - <%=@arr[i]["departure"]["iataCode"]%>
                                                        <%else%>
                                                            <%=@arr[i]["departure"]["iataCode"]%>
                                                        <%end%>
                                                        <%end%>
                                                    <%end%>
                                                <%end%>
                                            </h5>
                                            <p>
                                                <%if @arrnumeroscaliritorno[k]==0%>
                                                    <b><%=@arr[0]["departure"]["iataCode"]%></b> - Partenza: <%elem=@arr[0]["departure"]["at"].split("T")%><%=elem[1]%>
                                                        <%@dativoli["dictionaries"]["carriers"].keys.each do |compagniacode|%>
                                                            <%if @arr[0]["carrierCode"]==compagniacode%>
                                                                (<%=@dativoli["dictionaries"]["carriers"]["#{compagniacode}"]%>)
                                                            <%end%>
                                                        <%end%><br>
                                                    <b><%=@arr[0]["arrival"]["iataCode"]%></b> - Arrivo: <%elem=@arr[0]["arrival"]["at"].split("T")%><%=elem[1]%>
                                                <%else%>
                                                    <%(0..@arrnumeroscaliritorno[k]).each do |i|%>
                                                        <b><%=@arr[i]["departure"]["iataCode"]%></b> - Partenza: <%elem=@arr[i]["departure"]["at"].split("T")%><%=elem[1]%>
                                                            <%@dativoli["dictionaries"]["carriers"].keys.each do |compagniacode|%>
                                                                <%if @arr[i]["carrierCode"]==compagniacode%>
                                                                    (<%=@dativoli["dictionaries"]["carriers"]["#{compagniacode}"]%>)
                                                                <%end%>
                                                            <%end%><br>
                                                        <b><%=@arr[i]["arrival"]["iataCode"]%></b> - Arrivo: <%elem=@arr[i]["arrival"]["at"].split("T")%><%=elem[1]%><br>
                                                    <%end%>
                                                <%end%>
                                            </p>
                                        </li>
                                        <li><p>Prezzo totale a persona: <%=@voliarr[k]["price"]["grandTotal"]%>€ (i prezzi includono sia l'andata che il ritorno) </p></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    <%end%>
                </ul>
            </div>
            <%if @voliarr[1]%>
                <div style="text-align:center; padding: 25px 0px 0px 0px"><%=link_to "View more flights", {controller: "place", action: "getflights"}, {:class=>"link_to"}%></div>
            <%end%>
        <%elsif @messageflights%>
            <div style="text-align:center"><p><%=@messageflights%></p></div>
        <%else%>
            <div style="text-align:center"><p>Siamo spiacenti, non sono stati trovati voli disponibili</p></div>
        <%end%>
    </div>
    
    <br><br>
    <h3 style="text-align:center">Reviews</h3>
    <%@reviews=Review.where("place=?", @destinationplace).to_ary%>
    <%if @reviews.any?%>
        <div id="reviews-div" class="d-flex flex-row" style="text-align: center; width: 89%; max-height: 90%; height: fit-content; margin: auto">
            <%(0...2).each do |i|%>
                <%if @reviews[i]%>
                    <div class="shadow-box" style="flex: 50%; text-align: left; font-size: 18px; margin: 1%; width: 48%; max-width: 48%; min-width: 48%; heigth: max-content">
                        <%= render "reviews/review", review: @reviews[i] %>
                    </div>
                <% end %>
            <% end %>
        </div>
    <%else%>
        <div style="text-align:center"><p>Siamo spiacenti, non sono state trovate recensioni per <%=@destinationplace%></p></div>
    <%end%>
    <%if @reviews[1]%>
        <div style="text-align:center; padding: 25px 0px 0px 0px"><%=link_to "View more reviews", {controller: "place", action: "getreviews"}, {:class=>"link_to"}%></div>
    <%end%>


    <div style="padding: 50px 100px 0px 100px; text-align: center">
        <% if user_signed_in? %>
            <% if $review %>
                <h3 style="text-align:center">Update here your review</h3>
                <div class="shadow-box" style="font-size: 18px; margin: 1%"><%= render "reviews/form", review: $review %></div>
            <% else %>
                <h3 style="text-align:center">Write here your review</h3>
                <% @review = Review.new %>
                <div class="shadow-box" style="font-size: 18px; margin: 1%"><%= render "reviews/form", review: @review %></div>
            <% end %>
        <%else%>
            <p>Per scrivere una recensione devi essere loggato</p>
            <%=link_to "Click here to sign in", new_user_session_path ,{:class=>"link_to"}%>
        <% end %>
    </div>
    <br>
    <br>
<%end%>