<%= stylesheet_link_tag "place.css" %>

<%if @message%>
    <h4 style="color:red; text-align: center">Error: <%=@message%></h4>
<%else%>
    <div class="container pt-2">
        <div class="row div-container voli shadow-box m-3 p-3">
            <div class="col-4">
                <%if @messaggeimage%>
                    <%=@messageimage%>
                <%else%>
                    <img class="card-img photo" src="<%= @imageurl%>" alt="Card image">
                <%end%>
            </div>
            <div class="col-8 container">
                <div class="row">
                    <div class="col-11 ">
                        <h1><%=@destinationplace%></h1>
                    </div>
                        <div class="col-1 pt-2">
                        <%if user_signed_in?%>
                            <%user=User.find(current_user.id)%>
                            <%if !user.favourites.include? @destinationplace%>
                                <%= link_to place_add_to_favourites_path(:place => @destinationplace, flash_notice:"Ok"), class: "link_to_fav" do%>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                    </svg>
                                <%end%>
                            <!--current_user.add_favourite(@destinationplace)-->
                            <%else%>
                                <%= link_to place_remove_from_favourites_path(:place => @destinationplace, flash_notice:"Ok"), class: "link_to_fav"  do%>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                <%end%>
                            <%end%>
                        <%end%>
                    </div>
                </div>
                <div class="row">
                    <%if @messageinfo%>
                        <p><%=@messageinfo%></p>
                    <%else%>
                        <%if @type%><p><b>Type: </b><%=@type%></p><%end%>
                        <%if @country%><p><b>Nation: </b><%=@country%></p><%end%>
                        <%if @region%><p><b>Region: </b><%=@region%></p><%end%>
                        <%if @elevationmeters%><p><b>Altitude: </b><%=@elevationmeters%> m s.l.m</p><%end%>
                        <%if @population%><p><b>Popoluation: </b><%=@population%> inhabitants</p><%end%>
                        <%if @longitude%><p><b>Longitude: </b><%=@longitude%></p><%end%>
                        <%if @latitude%><p><b>Latitude: </b><%=@latitude%></p><%end%>
                        <%if @capital%><p><b>Capital: </b><%=@capital%></p><%end%>
                        <%if @numregions%><p><b>Number of regions: </b><%=@numregions%></p><%end%>
                    <%end%>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-2">
        <h3 style="text-align:center">Hotels</h3>
        <%if @hotels%>
            <%if @hotels.any?%>
                <div class="container row" style="margin: auto">
                    <%(0...2).each do |i|%>
                        <%if @hotels[i]%>
                            <div class="col ">
                                <a style="text-decoration:none; color: black" href="<%=@hotels[i]["url"]%>">
                                    <div class="hotel_div shadow-box container">
                                        <div class="col-5 mt-2 mb-2">
                                            <img class="hotel_img " src="<%=@hotels[i]["max_1440_photo_url"]%>">
                                        </div>
                                        <div class="col-7 mt-2">
                                            <h4><%=@hotels[i]["hotel_name"]%></h4>
                                            <p>Price: <%=@hotels[i]["price_breakdown"]["all_inclusive_price"]%>€</p>
                                            <%if @hotels[i]["is_free_cancellable"]==1%>
                                                <p>Free canceling: YES</p>
                                            <%else%>
                                                <p>Free canceling: NO</p>
                                            <%end%>
                                            <p>Review Score: <%=@hotels[i]["review_score"]%></p>
                                            <p>
                                                <%if @hotels[i]["hotel_include_breakfast"]==0%>
                                                    Breakfast included: NO
                                                <%else%>
                                                    Breakfast included: YES
                                                <%end%>
                                            </p>
                                            <p>Check-in 
                                                <%if @hotels[i]["checkin"]["from"]!=""%>
                                                    from <%=@hotels[0]["checkin"]["from"]%> 
                                                <%end%>
                                                <%if @hotels[i]["checkin"]["until"]!=""%>
                                                    <%if @hotels[0]["checkin"]["from"]!=""%>
                                                        until <%=@hotels[i]["checkin"]["until"]%>
                                                    <%else%>
                                                        until <%=@hotels[i]["checkin"]["until"]%>
                                                    <%end%>
                                                <%end%>
                                            </p>
                                            <p>Check-out
                                                <%if @hotels[i]["checkout"]["from"]!=""%>
                                                    from <%=@hotels[i]["checkout"]["from"]%> 
                                                <%end%>
                                                <%if @hotels[i]["checkout"]["until"]!=""%>
                                                    <%if @hotels[i]["checkout"]["from"]!=""%>
                                                        until <%=@hotels[i]["checkout"]["until"]%>
                                                    <%else%>
                                                        until <%=@hotels[i]["checkout"]["until"]%>
                                                    <%end%>
                                                <%end%>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <%end%>
                    <%end%>
                </div>
                <%if @hotels[1]%>
                    <div style="text-align:center" class="pt-4"><%=link_to "View more hotels", {controller: "place", action: "gethotels"}, class:"btn btn-dark"%></div>
                <%end%>
            <%else%>
                <div style="text-align:center"><p>Sorry, no available hotels were found</p></div>
            <%end%>
        <%elsif @messagehotels%>
            <div style="text-align:center"><p><%=@messagehotels%></p></div>
        <%else%>
            <div style="text-align:center"><p>Sorry, no available hotels were found</p></div>
        <%end%>
    </div>

    <div class="container div_container pt-3" >
        <h3 style="text-align:center">Flights</h3>
        <%if @voliarr%>
            <%(0...2).each do |k|%>
                <div class="voli shadow-box container mb-3  p-3">
                    <div class="row">
                        <%@arr=@arrvoliandata[k]["segments"]%>
                        <div class="col-2">
                            <img style="width:80%" src="http://pics.avs.io/200/200/<%=@arr[0]["carrierCode"]%>.png">
                        </div>
                        <div class="col-5 align-middle align-self-center">
                            <h5>
                                Departure (stopovers: <%=@arrnumeroscaliandata[k]%>)
                                <%if @arrnumeroscaliandata[k]==0%>
                                    <%=@arr[0]["departure"]["iataCode"]%> - <%=@arr[0]["arrival"]["iataCode"]%>
                                <%else%>
                                    <%(0..@arrnumeroscaliandata[k]).each do |i|%>
                                        <%if i==@arrnumeroscaliandata[k]%>
                                            - <%=@arr[i]["departure"]["iataCode"]%> - <%=@arr[i]["arrival"]["iataCode"]%>
                                        <%else-if i!=0%>
                                            - <%=@arr[i]["departure"]["iataCode"]%>
                                        <%else%>
                                            <%=@arr[i]["departure"]["iataCode"]%>
                                        <%end%>
                                        <%end%>
                                    <%end%>
                                <%end%>
                            </h5>
                            <p>
                                <%if @arrnumeroscaliandata[k]==0%>
                                    <b><%=@arr[0]["departure"]["iataCode"]%></b> - Departure: <%elem=@arr[0]["departure"]["at"].split("T")%><%=elem[1]%> 
                                            <%@dativoli["dictionaries"]["carriers"].keys.each do |compagniacode|%>
                                                <%if @arr[0]["carrierCode"]==compagniacode%>
                                                    (<%=@dativoli["dictionaries"]["carriers"]["#{compagniacode}"]%>)
                                                <%end%>
                                            <%end%><br>
                                    <b><%=@arr[0]["arrival"]["iataCode"]%></b> - Arrival: <%elem=@arr[0]["arrival"]["at"].split("T")%><%=elem[1]%>
                                <%else%>
                                    <%(0..@arrnumeroscaliandata[k]).each do |i|%>
                                        <b><%=@arr[i]["departure"]["iataCode"]%></b> - Departure: <%elem=@arr[i]["departure"]["at"].split("T")%><%=elem[1]%>
                                            <%@dativoli["dictionaries"]["carriers"].keys.each do |compagniacode|%>
                                                <%if @arr[i]["carrierCode"]==compagniacode%>
                                                    (<%=@dativoli["dictionaries"]["carriers"]["#{compagniacode}"]%>)
                                                <%end%>
                                            <%end%><br>
                                        <b><%=@arr[i]["arrival"]["iataCode"]%></b> - Arrival: <%elem=@arr[i]["arrival"]["at"].split("T")%><%=elem[1]%><br>
                                    <%end%>
                                <%end%>
                            </p>
                        </div>
                        <div class="col-5 align-middle align-self-center">
                            <%@arr=@arrvoliritorno[k]["segments"]%>
                            <h5>
                                Return (stopovers: <%=@arrnumeroscaliritorno[k]%>)
                                <%if @arrnumeroscaliritorno[k]==0%>
                                    <%=@arr[0]["departure"]["iataCode"]%> - <%=@arr[0]["arrival"]["iataCode"]%>
                                <%else%>
                                    <%(0..@arrnumeroscaliritorno[k]).each do |i|%>
                                        <%if i==@arrnumeroscaliritorno[k]%>
                                            - <%=@arr[i]["departure"]["iataCode"]%> - <%=@arr[i]["arrival"]["iataCode"]%>
                                        <%else-if i!=0%>
                                            - <%=@arr[i]["departure"]["iataCode"]%>
                                        <%else%>
                                            <%=@arr[i]["departure"]["iataCode"]%>
                                        <%end%>
                                        <%end%>
                                    <%end%>
                                <%end%>
                            </h5>
                            <p>
                                <%if @arrnumeroscaliritorno[k]==0%>
                                    <b><%=@arr[0]["departure"]["iataCode"]%></b> - Departure: <%elem=@arr[0]["departure"]["at"].split("T")%><%=elem[1]%>
                                        <%@dativoli["dictionaries"]["carriers"].keys.each do |compagniacode|%>
                                            <%if @arr[0]["carrierCode"]==compagniacode%>
                                                (<%=@dativoli["dictionaries"]["carriers"]["#{compagniacode}"]%>)
                                            <%end%>
                                        <%end%><br>
                                    <b><%=@arr[0]["arrival"]["iataCode"]%></b> - Arrival: <%elem=@arr[0]["arrival"]["at"].split("T")%><%=elem[1]%>
                                <%else%>
                                    <%(0..@arrnumeroscaliritorno[k]).each do |i|%>
                                        <b><%=@arr[i]["departure"]["iataCode"]%></b> - Arrival: <%elem=@arr[i]["departure"]["at"].split("T")%><%=elem[1]%>
                                            <%@dativoli["dictionaries"]["carriers"].keys.each do |compagniacode|%>
                                                <%if @arr[i]["carrierCode"]==compagniacode%>
                                                    (<%=@dativoli["dictionaries"]["carriers"]["#{compagniacode}"]%>)
                                                <%end%>
                                            <%end%><br>
                                        <b><%=@arr[i]["arrival"]["iataCode"]%></b> - Arrival: <%elem=@arr[i]["arrival"]["at"].split("T")%><%=elem[1]%><br>
                                    <%end%>
                                <%end%>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        </div>
                        <div class="col-8">
                            <p><strong>Total price per person: <%=@voliarr[k]["price"]["grandTotal"]%>€ </strong> (prices include both departure and return) </p>
                        </div>
                    </div>
                </div>      
            <%end%>
            <%if @voliarr[1]%>
                <div style="text-align:center" class="mt-1">
                    <%=link_to "View more flights", {controller: "place", action: "getflights"}, class:" btn btn-dark"%>
                </div>
            <%end%>
        <%elsif @messageflights%>
            <div style="text-align:center"><p><%=@messageflights%></p></div>
        <%else%>
            <div style="text-align:center"><p>Sorry, no available flights were found</p></div>
        <%end%>
    </div>
    

    <h3 style="text-align:center" class="mt-3">Reviews</h3>
    <%@reviews=Review.where("place=?", @destinationplace).to_ary%>
    <%if @reviews.any?%>
        <div id="reviews-div" class="d-flex flex-row" style="text-align: center; width: 89%; max-height: 90%; height: fit-content; margin: auto">
            <%(0...2).each do |i|%>
                <%if @reviews[i]%>
                    <div class="shadow-box" style="flex: 50%; text-align: left; font-size: 18px; margin: 1%; width: 48%; max-width: 48%; min-width: 48%; heigth: max-content">
                        <%= render "reviews/review", review: @reviews[i] %>
                    </div>
                <% end %>
            <% end %>
        </div>
    <%else%>
        <div style="text-align:center"><p>Sorry, no reviews were found for <%=@destinationplace%></p></div>
    <%end%>
    <%if @reviews[1]%>
        <div style="text-align:center" class="mt-1">
            <%=link_to "View more reviews", {controller: "place", action: "getreviews"}, class:"btn btn-dark"%>
        </div>
    <%end%>


    <div id="rev-div" class="container div_container mt-3">
        <% if user_signed_in? %>
            <% if !current_user.banned %>
                <% if $review %>
                    <h3 style="text-align:center">Edit your review</h3>
                    <div class="shadow-box p-3" style="font-size: 18px"><%= render "reviews/form", review: $review %></div>
                <% else %>
                    <h3 style="text-align:center">Write a review:</h3>
                    <% @review = Review.new %>
                    <div class="shadow-box p-3" style="font-size: 18px"><%= render "reviews/form", review: @review %></div>
                <% end %>
            <% end %>
        <%else%>
            <div style="margin: auto; text-align: center">
                <p>In order to write a review you need to be logged in</p>
                <%=link_to "Click here to sign in", new_user_session_path ,class:"btn btn-dark"%>
            </div>
        <% end %>
    </div>
    <br>
    <br>
<%end%>