<div class="container p-2 box">
  <h2>Forgot your password?</h2>
</div>
<div class="container p-3 rounded-3 shadow-box" style="margin: auto; text-align: center">
  <p>Type in your email so we can send you instructions to reset your password</p>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style: "width: 50%; margin: auto", placeholder: "Email" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-dark" %>
    </div>
  <% end %>
</div>
<div style="margin: auto; text-align: center">
  <br><br>
  <%= render "users/shared/links" %>
</div>