<%if user_signed_in?%>
  <div style="width: fit-content; margin: auto">
    <%= form_with(model: review) do |form| %>
      <% if review.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

          <ul>
            <% review.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div hidden>
        <%= form.label :user_id %><br />
        <%= form.number_field :user_id, value: current_user.id, autofocus: true%>
      </div>

      <div>
        <%= form.label :body, style: "display: flex; margin: auto; text-align: center; width: fit-content" %>
        <%= form.text_area :body, :rows=>4, :cols=>50 %>
      </div>

      <div hidden>
        <% if !review.place %>
          <% p = @destinationplace %>
        <% else %>
          <% p = review.place %>
        <% end %>
        <%= form.label :place %><br />
        <%= form.text_field :place, value: p, autofocus: true, class: "form-control" %>
      </div>

      <div style="margin: auto; text-align: center">
        <%= form.label :rating %><br />
        <%= form.select :rating, [1, 2, 3, 4, 5], autofocus: true%>
      </div>
      <br>

      <div style="margin: auto; text-align: center" >
        <%= form.submit class: "btn btn-dark", id: "submit-btn" %>
      </div>
    <% end %>
  </div>
<%end%>
