<!--<%= stylesheet_link_tag "place.css" %>-->

<div id="<%= dom_id review %>">
  
  <!-- Nasconde nome utente nel profilo -->
<div>
  <% unless @hide_user %>
    <div style="float:left">
      <strong>Author:</strong>
      <% name = review.user.name %>
      <%= link_to name, users_profile_path(id: review.user_id), style: "text-decoration: none; color: black" %>
      <br>
    </div>
  <% end %>
  <% if !@destinationplace %>
  <div style="float:left">
      <strong>Place:</strong>
      <%= review.place %><br>
    </div>
  <% end %>
  <div style="float:right">
    <%rating=review.rating %>
    <%(1..rating).each do |i|%>
      <%=image_tag("star-on.png", size:"17")%>
    <%end%>
    <%rating=5-rating%>
    <%if rating>0%>
      <%(1..rating).each do |i|%>
        <%=image_tag("star-off.png", size:"16")%>
      <%end%>
    <%end%>
  </div>
  <br >
</div>

<div style="overflow-wrap: break-word; max-width: 100%">
  <%= review.body %>
</div>

  <strong>Data:</strong>
  <%=review.created_at%><br>

  <%if user_signed_in?%>
    <%if review.user.name==current_user.name || current_user.role=="moderator" || current_user.role=="admin" %>
      <%= link_to "#{image_tag("edit.png", size:"16")}".html_safe, edit_review_path(review) %>
      <%= link_to "#{image_tag("delete.png", size:"16")}".html_safe, review, method: "delete"%>
    <%end%>
  <%end%>
  <!--
  <% if user_signed_in? %><br>
    <%if review.user.name==current_user.name || current_user.role=="moderator" || current_user.role=="admin" %>
      <div class="d-flex flex-row">
        <%= link_to "Edit", edit_review_path(review), class: "btn btn-secondary", style: "margin-right: 1%" %>
        <%= button_to "Delete", review, method: :delete, class: "btn btn-danger" %>
      </div>
    <%end%>
  <% end %>
  -->
</div>
