<div id="<%= dom_id review %>">
  
  <% unless @hide_user %>   <!-- Nasconde nome utente nel profilo -->
    <strong>User:</strong>
    <%= review.user.name %><br>
  <% end %>

  <strong>Place:</strong>
  <%= review.place %><br>

  <strong>Rating:</strong>
  <%= review.rating %><br>
  <!--<%rating=review.rating %>
  <%(1..rating).each do |i|%>
    <img src="/star-on.png">
  <%end%>
  <%rating=5-rating%>
  <%if rating>0%>
    <%(1..rating).each do |i|%>
      <img src="/star-off.png">
    <%end%>
  <%end%>-->
  <strong>Body:</strong>
  <%= review.body %><br>

  <strong>Data:</strong>
  <%=review.created_at%><br>

  <%if review.user.name==current_user.name%>
    <%= link_to "Edit this review", edit_review_path(review) %>
    <%= button_to "Destroy this review", review, method: :delete %>
  <%elsif current_user.role=="admin"%>
    <%= link_to "Edit this review", edit_review_path(review) %>
    <%= button_to "Destroy this review", review, method: :delete %>
  <%elsif current_user.role=="moderator"%>
    <%= link_to "Edit this review", edit_review_path(review) %>
    <%= button_to "Destroy this review", review, method: :delete %>
  <%end%>
</div>
