<div id="<%= dom_id review %>">
  
  <% unless @hide_user %>   <!-- Nasconde nome utente nel profilo -->
  <p>
    <strong>User:</strong>
    <%= review.user.name %>
  </p>
  <% end %>

  <p>
    <strong>Place:</strong>
    <%= review.place %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= review.body %>
  </p>

</div>
